<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 25 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right d-flex">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="navbar-wagon-item navbar-wagon-link">
          <i class="fas fa-sign-out-alt fa-lg"></i>
        </span>
      <% end %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>
