.move-top-down {
  padding-top: 20px;
}

.move-bottom-up {
  padding-bottom: 10px;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

.card-height-enforced {
   min-height: 300px;
   height: calc(100% - 1rem);
}
